/**{
    border: 1px solid red;
}*/

body{
    font-size: 16px;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

li{
    display: inline;
}

input{
    padding: 10px;
}

a{
    text-decoration: none;
    color: #808080;
    margin: 1em;
}

a:hover{
    text-decoration: underline;
}

center{
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.button{
    color: white;
    font-weight: bold;
    background-color: blue;
    padding: 15px 30px;
    border: 1px solid black;
    border-radius: 2px;
}

.top{
    height: 35px;
    padding-top: 15px;
    background-color: white;
    margin-top: 10px;
}

/*.mid{
    
}*/

.bot{
    height: 35px;
    padding-top: 15px;
    background-color: #f2f2f2;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.topleft{
    float: left;
}

.topright{
    float: right;
}

.botleft{
    float: left;
}

.botright{
    float: right;
}

.btn{
    margin: 1em;
    border: 0;
    width: 150px;
}

#searchbox{
    width: 40%;
    height: 15%;
    padding: 1em;
    margin: 1em;
    box-shadow: 0 1px gray;
    background-image: url(img/googMic.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 3em;
    background-size: 26px 32px; 
}

#searchbox:hover{
    box-shadow: 0 4px gray;
}

#apps{
    height: 30px;
    width: 30px;
    margin-top: -8px;
}

#secbar{
    margin-left: 88px;
    padding: 2em;
}

#topbar{
    display: flex;
    justify-content: left;
}

#resButton{
    float: right;
}

#resSearchBox{
    margin-top: 10px;
}
